
  <ion-content class="login-page" scroll="false" padding>
    <div class="valign-parent full-width" style="margin-top: 30%">
      <div class="valign-child">
        <div class="app-icon">
          <img src="../../assets/images/rocket.png" alt="">
        </div>
        <div class='row'>
          <div class='col text-center roboto-medium assertive text-xx-large text-shadow'>
            The User App
          </div>
        </div>
        <div class='row'>
          <div class='col text-center roboto-regular text-medium light text-shadow'>
            Awesome App for Work
          </div>
        </div>
      </div>
    </div>
    <ion-list>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="text" [(ngModel)]="user.email" required="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" [(ngModel)]="user.password" required="true"></ion-input>
      </ion-item>
      <ion-item  *ngIf="signUp">
        <ion-label floating>Username</ion-label>
        <ion-input type="text" [(ngModel)]="user.userName" required="true"></ion-input>
      </ion-item>
      <ion-item *ngIf="signUp">
        <ion-label floating>Age</ion-label>
        <ion-input type="number" [(ngModel)]="user.age"></ion-input>
      </ion-item>
      <ion-item *ngIf="signUp">
        <ion-label floating>City</ion-label>
        <ion-input type="Text" [(ngModel)]="user.city" ></ion-input>
      </ion-item>
      <div style="text-align:center" (click)="addMoreAddress(user)">
     <span *ngIf="signUp"> click here to add more address </span>    <ion-icon ios="ios-add" md="md-add" *ngIf="signUp" ></ion-icon>
      </div>
     <div *ngIf="signUp"> 
     <ion-item  *ngFor="let item of user.address , let i = index">
        <ion-label floating>Address {{i+1}}</ion-label>
        <ion-input type="Text" [(ngModel)]="address[i]" ></ion-input>
      </ion-item>
     </div>
    </ion-list>
    <ion-item *ngIf="signUp">
      <ion-label>Admin Signup</ion-label>
      <ion-checkbox color="dark" checked="false" [(ngModel)]="checkBox"></ion-checkbox>
    </ion-item>
    <p *ngIf="err" class="error-style">{{ErrMsg}}</p>
    <div ng-style="login.lower" class="valign-parent full-width" *ngIf="!signUp">
      <div class="valign-child">
        <div class="row div-centered-80 margin-top-5 padding-top-5">
          <div class="col">
            <button ion-button full (click)="login(user)">Log In</button>
          </div>
        </div>
      </div>
    </div>
    <div ng-style="login.lower" class="valign-parent full-width" *ngIf="signUp">
      <div class="valign-child">
        <div class="row div-centered-80 margin-top-5 padding-top-5">
          <div class="col">
            <button ion-button full color="secondary" (click)="signup(user)">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
    <p class="text-center" (click)="ShowSignUp(true)" *ngIf="!signUp"> SIGN UP???</p>
    <p class="text-center" (click)="ShowSignUp(false)" *ngIf="signUp" > LOG IN???</p>
  </ion-content>

