page-login {
  .list-md .item-input:last-child {
    border-bottom: none!important;
  }
  .list-md .item-block .item-inner {
    border-bottom: 1px solid #c8c7cc!important;
  }
}
.valign-parent{
  display: table !important;
}
.error-style{
  margin: 0px!important;
  text-align: center;
  color: red;
}
.login-page{
  background-image: url(../img/login-bg.jpg);
  background-repeat: no-repeat;
  background-position: 30% center;
  background-size: cover
}
.full-width{
  width:100% !important;
}
.valign-child{
  display: table-cell !important ;
  vertical-align: middle !important;
}
.text-shadow{
  text-shadow: 1px 1px #444;
}
.app-icon{
  width: 120px;
  height: 120px;
  margin: auto;
}
.text-center {
  text-align: center; }
.col {
  //@include flex(1);
  display: block;
  padding: ($grid-padding-width / 2);
  width: 100%;
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  width: 100%; }
