<!--
  Generated template for the EditProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>EditProfile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-input type="text" placeholder="Name" [(ngModel)]="userInfo.userName"  style="    border-bottom: 1px solid black;"></ion-input>
  <ion-input type="text" placeholder="City" [(ngModel)]="userInfo.city"  style="    border-bottom: 1px solid black;"></ion-input>
  <ion-input type="number" placeholder="Age" [(ngModel)]="userInfo.age" style="    border-bottom: 1px solid black;"></ion-input>
  <div *ngFor="let item of userInfo.address , let i = index">
  <ion-input type="text" placeholder="Address {{i+1}}" [(ngModel)]="userInfo.address[i]" style="    border-bottom: 1px solid black;" ></ion-input>
  </div> 
  <div style="text-align:center">
   <button ion-button color="secondary" (click)="UpdateUser()">Save</button>
  </div>
</ion-content>
