
<ion-header>


  <ion-toolbar style="text-align: center;">
    <ion-title>Profile</ion-title>
  </ion-toolbar>
  <ion-icon ios="ios-log-out" md="md-log-out" (click)="logout()" class="log-out-button-style" style="z-index: 10;"></ion-icon>

</ion-header>
<ion-content style="text-align: center;">
   <p> Name : {{UserInfoshow.userName}} </p>
   <p> Age : {{UserInfoshow.age}} </p>
   <p> City : {{UserInfoshow.city}} </p>
   <div *ngFor="let item of UserInfoshow.address , let i = index">
   <p> Address{{i+1}} : {{item}} </p>
   </div>
   <div style="text-align:center">
    <button ion-button color="secondary" (click)="updateuser()">Edit profile</button>
   </div>
</ion-content>
