page-home {
  .text-input-md {
    margin : 0px!important;
  }
  .label-md {
    margin: 0px!important;
  }
  .text-input-ios {
    margin : 0px!important;
  }
  .log-out-button-style{
    position: absolute;
    right: 5px;
    top: 13px;
    font-size: 2em;
}
    
}
.add-icon-style{
  font-size: 1.5em;
  margin-right: 5px;
  color: green;
  margin-top: 10px;
}
.p-style{
  background: rgba(0, 0, 0, 0.2);
  padding: 5px;
  font-family: sans-serif;
}
