page-card {
.edit-card-style{
    position: absolute;
    right: 0px;
    top: 0;
}
.log-out-button-style{
    position: absolute;
    right: 5px;
    top: 13px;
    font-size: 2em;
}
.trash-icon-style{
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: red;
}
}
