<!--
  Generated template for the CardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar style="text-align:center">
    <ion-title>Users</ion-title>
  </ion-navbar>
  <ion-icon ios="ios-log-out" md="md-log-out" (click)="logout()" class="log-out-button-style"></ion-icon>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let item of users , let i = index"  style="position:relative">
    <ion-card-header>
      {{item.userName}}
    </ion-card-header>
    <ion-card-content>
     City : {{item.city}}
     Age : {{item.age}}
     <!-- <> -->
     <p *ngIf="item.delete" style="color: red;
     text-align: center;"> User is deleted </p>
     <button ion-button icon-only (click)="moveToHomePage(i)" class="edit-card-style">
      <ion-icon name="create" ></ion-icon>
    </button>
    <button ion-button icon-only (click)="presentConfirm(i)" class="trash-icon-style">
      <ion-icon name="trash" ></ion-icon>
    </button>
    </ion-card-content>
  </ion-card>
</ion-content>
